.main {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 24px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    color: grey;
}

#logo {
    height: 100px;
    width: 100px;
    opacity: .9;
}

#logo:hover {
    opacity: 1;
}

.link {
    text-decoration: none;
    height: 30px;
    width: 70px;
    text-align: center;
    display: block;
    vertical-align: center;
    color: grey;
}

.link:hover {
    color: black;
    -webkit-transition: 1s;
    /* Safari */
    
    transition: 1s;
}

.link-li {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-transition: .5s;
    /* Safari */
    
    transition: .5s;
}

.link-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    padding-right: 20px;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.slideshow {
    max-width: 800px;
    margin-top: 50px;
    max-height: 500px;
}

.slideshow figure {
    max-height: 500px;
    width: 100%;
    max-width: 800px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column
    /* works with row or column */
    
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.slideshow figure img {
    max-height: 500px;
    max-width: 100%;
}

@media screen and (max-width: 480px) {
    body {
        max-height: 100%;
    }
    nav {
        flex-direction: column;
        height: auto;
    }
    .link-ul {
        margin-left: inherit;
        padding: 0;
        flex-direction: column;
        margin-top: 10px;
    }
    .slideshow {
        margin-top: 0px;
        max-height: 100%;
    }
}

@media screen and(max-height: 650px) {
    footer {
        position: absolute;
    }
}